@{
    ViewBag.Title = "A Empresa";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="banner-empresa"></div>

<p class="prev">Fundada em 2018 a Technine é uma empresa que busca fornecer Soluções de TI inovadoras e de alto valor agregado, comprometida com a satisfação dos clientes, a realização das pessoas e o crescimento sustentado da sociedade.</p>
<p class="prev">Pretendemos nos tornar uma grande e rentável empresa do setor de segurança, referência nas áreas de atuação de seus produtos, e ser considerada uma ótima empresa para se trabalhar perante o mercado.</p>

<h2 class="h2-lista">Valores que nos define:</h2>

<ul class="prev">
    <li>Comprometimento com os princípios éticos;</li>
    <li>Respeito aos clientes;</li>
    <li>Honestidade;</li>
    <li>Inovação;</li>
    <li>Espírito de equipe;</li>
    <li>Profissionalismo;</li>
    <li>Valorização do ser humano;</li>
    <li>Autocrítica;</li>
</ul>
