
@{
    ViewBag.Title = "Clientes";
}

    <h2>Nossos Clientes</h2>

    <div class="banner-cliente"></div>

    <section class="figures">
        <div class="row">
            <img src="~/imagem/microsoft.png" class="figures-images col-lg-3" />
            <img src="~/imagem/apple.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/samsung.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/lg.jpg" class="figures-images col-lg-3" />
        </div>
        <div class="row">
            <img src="~/imagem/lenovo.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/carrefour.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/kimberly.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/umc.jpg" class="figures-images col-lg-3" />
        </div>
        <div class="row">
            <img src="~/imagem/uninove.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/usp.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/bradesco.jpg" class="figures-images col-lg-3" />
            <img src="~/imagem/itau.jpg" class="figures-images col-lg-3" />
        </div>
    </section>


