@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title</h2>

<h3>Envie-nos Perguntas, sugestões, elogios ou críticas.</h3>

<div class="contato">
    <form class="form-group">
        <label>Nome</label>
        <input class="form-control" type="text" name="nome" />
        <label>Telefone</label>
        <input class="form-control" type="text" name="" />
        <label>Email</label>
        <input class="form-control" type="email" name="tel" />
        <label>Texto</label>
        <textarea class="form-control" rows="10">
        </textarea>
        <input type="submit" class="btn btn-primary btn-sub" value="Enviar" />
        <input type="reset" class="btn btn-default btn-sub" value="Apagar" />
    </form>
</div>
