
@{
    ViewBag.Title = "Solucao";
}

<h2>Soluções</h2>
<h3>Alguns de nossos Equipamentos</h3>


<div class="container">
    <h3>FS REP 1510 KP</h3>
    <div class="section row">
        <div class="conteudo col-lg-6">
            <p class="prev">
                O FS-REP 1510 KP possui Leitor de Impressões Digitais e leitora de Cartão Proximidade no mesmo equipamento. O FS-REP 1510 KP é o Relógio Eletrônico de Ponto Biométrico da FingerSec desenvolvido para atender na Integra a Portaria 1510/09 do Ministério do trabalho e emprego (MTE, tais como impressora incorporada e porta USB para auditoria fiscal. Conta com porta de comunicação Ethernet TCP/IP para comunicação com o software de ponto. Nossos equipamentos estão homologados e certificados junto ao MTE sob números 00084 com os nomes REP-KP 1510 e podem ser verificadas junto ao site http://www.mte.gov.br/pontoeletronico/rep.asp O FS REP (Registrador Eletrônico de Ponto) associa a qualidade e a robustez com as mais avançadas tecnologias de eletrônica e informática. Permite o cadastramento da impressão digital dos empregados no próprio equipamento. As impressões digitais cadastradas podem ser transportadas para outros registradores através do software de operação. Fornecido com software para configuração e operação gratuitos. O FS-REP 1510 BIO – PROX é uma central biométrica turn-key (pronta para uso) que conta com software e hardware integrados, dispensando a utilização de PCs ao lado das unidades.
            </p>
        </div>
        <div class="conteudo col-lg-6">
            <img src="~/imagem/rep.jpg" />
            <img src="~/imagem/red2.jpg" class="img-section" />
        </div>
    </div>
    <hr />
    <h3>VERISPEAK SDK</h3>
    <div class="section row">
        <div class="conteudo col-lg-6">
            <img src="~/imagem/voz.jpg" />
            <img src="~/imagem/voz2.jpg" class="img-section" />
        </div>
        <div class="conteudo col-lg-6">
            <p class="prev">
                A tecnologia de identificação de voz VeriSpeak foi projetada para desenvolvedores e integradores de sistemas biométricos. O algoritmo de reconhecimento de oradores dependente do texto e garante a segurança do sistema verificando a autenticidade de voz e frase. Os templates de impressão de voz podem ser combinados nos modos “1-para-1” (verificação) e “1-para-muitos” (identificação). Disponível como um kit de desenvolvimento de software que permite o desenvolvimento de aplicativos de reconhecimento de voz autônomos e baseados na Web nas plataformas Microsoft Windows, Linux, Mac OS X, iOS e Android.

                Algoritmo dependente do texto. O reconhecimento do orador dependente do texto é baseado na mesma frase para o cadastro e verificação. O algoritmo VeriSpeak determina se uma amostra de voz corresponde ao template que foi extraído de uma frase específica. Durante o cadastro, uma ou mais frases são solicitadas à pessoa que está sendo cadastrada. Mais tarde, essa pessoa pode ser convidada a pronunciar uma frase específica para verificação. Este método garante proteção contra o uso de uma frase aleatória gravada dessa pessoa. Autenticação de dois fatores com uma senha. O algoritmo de verificação de impressão de voz VeriSpeak pode ser configurado para funcionar em um cenário em que cada usuário grava uma frase exclusiva (como uma frase secreta ou uma resposta a uma "pergunta secreta" que é conhecida apenas pela pessoa que está sendo cadastrada). Mais tarde, uma pessoa é reconhecida por sua própria frase específica com um alto grau de precisão. A segurança geral do sistema aumenta à medida que a autenticidade da voz e a senha são verificadas.
            </p>
        </div>
    </div>
</div>

